<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICreditoService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICreditoService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <!--<endpoint address="http://localhost/WCFServiceCliente/CreditoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreditoService"
                contract="ProxyCredito.ICreditoService" name="BasicHttpBinding_ICreditoService" />-->
            <endpoint address="net.tcp://lim-g18hhs3.usersad.everis.int/WCFServiceCliente/CreditoService.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICreditoService"
                contract="ProxyCredito.ICreditoService" name="NetTcpBinding_ICreditoService">
                <identity>
                    <servicePrincipalName value="host/LIM-G18HHS3.usersad.everis.int" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>