<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <connectionStrings>
    <add name="CreditosDB" connectionString="Data Source=LIM-G18HHS3\SQLEXPRESS; Initial Catalog=Creditos; Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding  name="EnlaceHTTP"
                  closeTimeout="00:10:00"
                  maxReceivedMessageSize="65536"
                  maxBufferSize="65536"
                  messageEncoding="Text"
                  textEncoding="utf-8" >
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="EnlaceTCP"
                 closeTimeout="00:10:00"
                  maxReceivedMessageSize="65536"
                  maxBufferSize="65536"
                  maxConnections="10">
          <security mode="Transport">
            <transport clientCredentialType="Windows"
                       protectionLevel="EncryptAndSign">
            </transport>
          </security>
        </binding>
      </netTcpBinding>
      <webHttpBinding>
        <binding name="EnlaceHttpRest"
                 closeTimeout="00:10:00"
                 crossDomainScriptAccessEnabled="true">
        </binding>
      </webHttpBinding>
    </bindings>

    <services>
      <service name="Pacagroup.Comercial.Creditos.Implementacion.ClienteService" behaviorConfiguration="ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/BankingServices/ServicioCliente" />
            <add baseAddress="net.tcp://localhost:809/BankingServices/ServicioCliente" />
          </baseAddresses>

        </host>
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="EnlaceHTTP"
                  contract="Pacagroup.Comercial.Creditos.Contrato.IClienteService"></endpoint>
        <endpoint address=""
                  bindingConfiguration="EnlaceTCP"
                  binding="netTcpBinding"
                  contract="Pacagroup.Comercial.Creditos.Contrato.IClienteService"></endpoint>
        <endpoint address="rest"
                  binding="webHttpBinding"
                  contract="Pacagroup.Comercial.Creditos.Contrato.IClienteService"
                  bindingConfiguration="EnlaceHttpRest"
                  behaviorConfiguration="webRest"></endpoint>
      </service>

    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webRest">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los errores para la depuración, establezca el siguiente valor en true. Para no revelar información sobre las excepciones establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>